#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Enable all hardening compiler flags (-D_FORTIFY_SOURCE=2 -Wl,-z,now ...)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

# Override native version number with Debianized version number
export RUMUR_VERSION=v2019.12.22-1

%:
	dh $@
